@import './variables';

@mixin typography ($color, $font-family, $font-size, $font-weight, $letter-spacing:0, $line-height: normal) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

@mixin mixed-lbl($args...) {
    @include typography($args...);
}

// TITLES
@mixin title-h1 {
    @include mixed-lbl(var(--color-orange), var(--main-font), var(--font-size-h1), var(--font-weight-400), var(--letter-spacing-h1), var(--line-height-h1))
}
@mixin title-h2 {
    @include mixed-lbl(var(--color-orange), var(--main-font), var(--font-size-h2), var(--font-weight-400), var(--letter-spacing-h2), var(--line-height-h2));
}
@mixin title-h3 {
    @include mixed-lbl(var(--color-orange), var(--main-font), var(--font-size-h3), var(--font-weight-400), var(--letter-spacing-h3), var(--line-height-h3));
}
@mixin title-h4 {
    @include mixed-lbl(var(--color-orange), var(--main-font), var(--font-size-h4), var(--font-weight-400), var(--letter-spacing-h4), var(--line-height-h4));
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, small, strong, ul, li, form, label,
article, footer, header, nav, section, input, textarea, button {
    &.title-h1 {
        @include title-h1;
    }
    &.title-h2 {
        @include title-h2;
    }
    &.title-h3 {
        @include title-h3;
    }
    &.title-h4 {
        @include title-h4;
    }
}