:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #1a2a33;
    --color-blue-light: #1f3540;
    --color-blue-dark: #172730;
    --color-turquoise: #30c4be;
    --color-grey: #a8bec9;
    --color-grey-dark: #697d89;
    --color-orange: #f3b137;
}