@import '/src/styles/pxr.scss';

.home-page {
    width: 100vw;
    height: 100vh;
    &__title {
        margin: 0 auto pxr(48);
        padding-top: pxr(100);
        width: 100%;
        text-align: center;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: 100%;
    }
}